# dependencies
node_modules/

# build output
dist/
dist-ssr/

# env files
.env
.env.local
.env.*.local
.env.production

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
database-debug.log
storage-debug.log
ui-debug.log

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# test coverage
coverage/

# editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
